<section class="hero">
  <div class="container hero__container">
    <div class="hero__item">
      <h1 class="hero__lead lead">Lorem ipsum dolor sit amet consectetur.</h1>
      <p class="hero__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
        adipisci ipsa dolorum vel! Dolorum, ipsa similique? Laboriosam quas
        vitae maiores, nemo explicabo animi facere! Maiores pariatur amet soluta
        accusantium nisi!
      </p>
      <a
        href="#our-specialties"
        class="btn-reset smooth-scroll button hero__button"
      >
        Список специальностей
      </a>
    </div>
    <div class="hero__item">
      <picture>
        <source srcset="img/hero__img.avif" type="image/avif" />
        <source srcset="img/hero__img.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/hero__img.jpg"
          class="hero__img"
          alt="Колледж"
        />
      </picture>
    </div>
    <div class="hero__item">
      <div class="swiper news hero__news">
        <div class="swiper-wrapper news__wrapper">
          <div class="swiper-slide news__slider">
            <a href="#" class="news__item"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. In
              fugiat dolorem hic explicabo provident numquam laborum commodi,
              dolore adipisci ipsum ducimus iure ratione enim accusantium
              corporis facere quia doloremque similique.</a
            >
          </div>
          <div class="swiper-slide">
            <a href="#" class="news__item"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. In
              fugiat dolorem hic explicabo provident numquam laborum commodi,
              dolore adipisci ipsum ducimus iure ratione enim accusantium
              corporis facere quia doloremque similique.</a
            >
          </div>
          <div class="swiper-slide news__slider">
            <a href="#" class="news__item"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. In
              fugiat dolorem hic explicabo provident numquam laborum commodi,
              dolore adipisci ipsum ducimus iure ratione enim accusantium
              corporis facere quia doloremque similique.</a
            >
          </div>
          <div class="swiper-slide">
            <a href="#" class="news__item"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. In
              fugiat dolorem hic explicabo provident numquam laborum commodi,
              dolore adipisci ipsum ducimus iure ratione enim accusantium
              corporis facere quia doloremque similique.</a
            >
          </div>
        </div>
        <div class="swiper-pagination news__pagination"></div>
      </div>
    </div>
  </div>
</section>
