<section id="our-specialties" class="our-specialties">
  <div class="container our-specialties__container">
    <h2 class="title our-specialties__title">Наши специальности</h2>
    <div class="swiper our-specialties__slider">
      <div class="swiper-wrapper">
        <div data-speciality="one" class="swiper-slide">
          <article class="speciality">
            <div class="speciality__item">
              <h3 class="speciality__subtitle">Lorem, ipsum.</h3>
              <p class="speciality__desc"></p>
              <a href="#" class="speciality__link">
                <span class="speciality__span"> Подробнее </span>
                <svg class="speciality__icon">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="speciality__item">
              <picture>
                <source
                  srcset="img/our-specialties__img.avif"
                  type="image/avif"
                />
                <source
                  srcset="img/our-specialties__img.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/our-specialties__img.jpg"
                  class="speciality__img"
                  alt="специальность"
                />
              </picture>
            </div>
          </article>
        </div>
        <div data-speciality="two" class="swiper-slide">
          <article class="speciality">
            <div class="speciality__item">
              <h3 class="speciality__subtitle">Lorem, ipsum.</h3>
              <p class="speciality__desc"></p>
              <a href="#" class="speciality__link">
                <span class="speciality__span"> Подробнее </span>
                <svg class="speciality__icon">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="speciality__item">
              <picture>
                <source
                  srcset="img/our-specialties__img.avif"
                  type="image/avif"
                />
                <source
                  srcset="img/our-specialties__img.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/our-specialties__img.jpg"
                  class="speciality__img"
                  alt="специальность"
                />
              </picture>
            </div>
          </article>
        </div>
        <div data-speciality="three" class="swiper-slide">
          <article class="speciality">
            <div class="speciality__item">
              <h3 class="speciality__subtitle">Lorem, ipsum.</h3>
              <p class="speciality__desc"></p>
              <a href="#" class="speciality__link">
                <span class="speciality__span"> Подробнее </span>
                <svg class="speciality__icon">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="speciality__item">
              <picture>
                <source
                  srcset="img/our-specialties__img.avif"
                  type="image/avif"
                />
                <source
                  srcset="img/our-specialties__img.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/our-specialties__img.jpg"
                  class="speciality__img"
                  alt="специальность"
                />
              </picture>
            </div>
          </article>
        </div>
        <div data-speciality="four" class="swiper-slide">
          <article class="speciality">
            <div class="speciality__item">
              <h3 class="speciality__subtitle">Lorem, ipsum.</h3>
              <p class="speciality__desc"></p>
              <a href="#" class="speciality__link">
                <span class="speciality__span"> Подробнее </span>
                <svg class="speciality__icon">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="speciality__item">
              <picture>
                <source
                  srcset="img/our-specialties__img.avif"
                  type="image/avif"
                />
                <source
                  srcset="img/our-specialties__img.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/our-specialties__img.jpg"
                  class="speciality__img"
                  alt="специальность"
                />
              </picture>
            </div>
          </article>
        </div>
        <div data-speciality="five" class="swiper-slide">
          <article class="speciality">
            <div class="speciality__item">
              <h3 class="speciality__subtitle">Lorem, ipsum.</h3>
              <p class="speciality__desc"></p>
              <a href="#" class="speciality__link">
                <span class="speciality__span"> Подробнее </span>
                <svg class="speciality__icon">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <div class="speciality__item">
              <picture>
                <source
                  srcset="img/our-specialties__img.avif"
                  type="image/avif"
                />
                <source
                  srcset="img/our-specialties__img.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/our-specialties__img.jpg"
                  class="speciality__img"
                  alt="специальность"
                />
              </picture>
            </div>
          </article>
        </div>
      </div>
      <div class="swiper-pagination our-specialties__pagination"></div>
    </div>
  </div>
  <div class="modal our-specialties__modal">
    <div class="container">
      <div class="modal__body">
        <div class="modal__content">
          <div class="modal__item modal__item_img"></div>
          <div class="modal__item modal__item_text-content">
            <div class="tabs our-specialties__tabs">
              <ul class="tabs__triggers"></ul>
              <div class="tabs__body"></div>
            </div>
          </div>
          <div class="modal__item modal__item_contacts">
            <ul class="list-reset modal__contacts contacts">
              <li class="contacts__item">
                <a href="mailto:example@mail.ru" class="contacts__link">
                  <svg class="contacts__icon">
                    <use xlink:href="img/sprite.svg#email"></use>
                  </svg>
                  example@mail.ru
                </a>
              </li>
              <li class="contacts__item">
                <a href="tel:88005553535" class="contacts__link">
                  <svg class="contacts__icon">
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  8 (800) 555-35-35
                </a>
              </li>
            </ul>
            <a href="#" class="btn-reset button modal__button">
              Подать заявление
            </a>
          </div>
        </div>
        <button class="modal__close">
          <svg class="modal__icon">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
