<aside class="sidebar main-menu-sidebar">
  <div class="sidebar__body">
    <div class="sidebar__content">
      <ul class="list-reset sidebar__main-menu main-menu">
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">Lorem, ipsum dolor.</a>
        </li>
      </ul>
      <ul class="list-reset sidebar__contacts contacts">
        <li class="contacts__item">
          <a href="mailto:example@mail.ru" class="contacts__link">
            <svg class="contacts__icon">
              <use xlink:href="img/sprite.svg#email"></use>
            </svg>
            example@mail.ru
          </a>
        </li>
        <li class="contacts__item">
          <a href="tel:88005553535" class="contacts__link">
            <svg class="contacts__icon">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            8 (800) 555 - 35 - 35
          </a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg class="contacts__icon">
              <use xlink:href="img/sprite.svg#geo"></use>
            </svg>
            Lorem, ipsum.
          </a>
        </li>
      </ul>
      <div class="sidebar__button">
        <button type="submit" class="btn-reset login sidebar__login">
          <svg class="login__icon">
            <use xlink:href="img/sprite.svg#login"></use>
          </svg>
        </button>
        <button type="submit" class="btn-reset visually-impaired">
          <svg class="visually-impaired__icon">
            <use xlink:href="img/sprite.svg#glasses"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</aside>
